{% extends 'base.html' %}

{% block content %}
<main style="padding: 40px; text-align: center;">
    <h2>Login Form</h2>
    <form action="/login" method="POST">
        <div>
            <label for="username">Username:</label>
            <input type="text" id="username" name="username" required>
        </div>
        <br>
        <div>
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <br>
        <button type="submit">Login</button>
    </form>
</main>
{% endblock %}

